---
---

$background-color-default: #fff;
$background-color-primary: #0F559F;
$background-color-secondary: #353D41;
$background-color-header: #2b75d7;

$border-default: 16px;
$border-twice: calc($border-default * 2);

$color-primary: #fff;
$color-secondary: #72a2e0;
$color-drop-shadow: #000;

$columns-default: 2;
$columns-narrow-screen: 1;

$max-width-default: 960px;
$max-width-narrow-screen: 100vw;

$min-height-default: 100vh;

$padding-default: 32px;
$padding-half: $padding-default / 2;
$padding-quarter: $padding-half / 2;
$padding-twice: $padding-default * 2;
$padding-main-header: 20vh;

$width-default: 100vw;
$width-full: calc(#{width-default} - #{$padding-twice});

@mixin drop-shadow($drop, $blur, $color) {
  filter: drop-shadow($drop $drop $blur $color);
}

@mixin text-outline($line-width, $blur, $color) {
  text-shadow:
    0px calc(#{$line-width} * -1) $blur $color,
    0px $line-width $blur $color,
    $line-width 0px $blur $color,
    calc(#{$line-width} * -1) 0px $blur $color;
}

@mixin max-query($screen-width, $columns, $font-size-title, $font-size-tagline, $font-size-h1, $font-size-h2, $font-size-body, $shadow, $outline, $spacing-tagline, $max-width) {
  @media only screen and (max-width: $screen-width) {
    @include scale-layout($columns, $font-size-title, $font-size-tagline, $font-size-h1, $font-size-h2, $font-size-body, $shadow, $outline, $spacing-tagline, $max-width);
  }
}
@mixin min-query($screen-width, $columns, $font-size-title, $font-size-tagline, $font-size-h1, $font-size-h2, $font-size-body, $shadow, $outline, $spacing-tagline, $max-width) {
  @media only screen and (min-width: $screen-width) {
    @include scale-layout($columns, $font-size-title, $font-size-tagline, $font-size-h1, $font-size-h2, $font-size-body, $shadow, $outline, $spacing-tagline, $max-width);
  }
}

@mixin scale-layout($columns, $font-size-title, $font-size-tagline, $font-size-h1, $font-size-h2, $font-size-body, $shadow, $outline, $spacing-tagline, $max-width) {
  .oval {
    height: calc(#{$font-size-title} * 1.05);
    width: calc(#{$font-size-title} * 4);
  }

  .title {
    font-size: $font-size-title;
    @include drop-shadow($shadow, 0, $color-drop-shadow);
    @include text-outline($outline, 1px, $color-drop-shadow);
  }

  .tagline {
    font-size: $font-size-tagline;
    letter-spacing: $spacing-tagline;
  }

  article {
    padding: $padding-default 0 0;
    max-width: $max-width;
    width: calc(100vw - #{$padding-twice});
  }

  h1 {
    font-size: $font-size-h1;
    letter-spacing: $shadow;
    margin-bottom: 0.25em;
  }

  h2 {
    font-size: $font-size-h2;
  }

  p {
    font-size: $font-size-body;
  }

  section {
    columns: $columns;
  }
}

@import
  "fonts",
  "base",
  "keyframes",
  "layout",
  "header",
  "arrows",
  "media",
  "about"
