@font-face {
  font-family: 'BadaBoom';
  src: url("../fonts/badaboom.woff") format("woff"); }
@font-face {
  font-family: 'MonoHand';
  src: url("../fonts/monohand.woff") format("woff"); }
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: normal;
  src: local("PT Sans"), url("../fonts/ptsans.woff") format("woff"); }
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  -webkit-text-size-adjust: none; }

body {
  background-color: #0F559F;
  color: #fff;
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
  font-size: 16px; }

@keyframes bounce {
  0% {
    transform: translateY(0px); }
  75% {
    transform: translateY(-20px); }
  80% {
    transform: translateY(0px); }
  85% {
    transform: translateY(-9px); }
  90% {
    transform: translateY(0px); }
  95% {
    transform: translateY(-3px); }
  100% {
    transform: translateY(0px); } }
@keyframes slam {
  0% {
    transform: scale(1) rotate(-5deg); }
  60% {
    transform: scale(4) rotate(-5deg); }
  80% {
    transform: scale(0.6) rotate(-5deg); }
  100% {
    transform: scale(1) rotate(-5deg); } }
scroll-page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: calc(100vh - 32px);
  padding: 0 32px 32px; }

scroll-page:first-child {
  min-height: calc(100vh - 20vh - 32px);
  padding: 20vh 32px 32px; }

scroll-page:nth-child(odd) {
  background-color: #0F559F; }

scroll-page:nth-child(even) {
  background-color: #353D41; }

article {
  margin: 0 auto;
  max-width: 960px;
  padding: calc(32px * 2) 32px 0;
  width: calc(100vw - calc(32px * 3)); }

section {
  columns: 2;
  column-gap: 32px;
  padding: 16px 0; }

h1 {
  filter: drop-shadow(2px 2px 0 #000);
  font-family: "BadaBoom", sans-serif;
  margin-bottom: 0.25em;
  transform: rotate(-2.5deg); }

h2 {
  color: #72a2e0;
  font-family: "MonoHand", sans-serif;
  text-transform: uppercase; }

p {
  margin-bottom: 1em; }

a {
  color: #fff;
  display: inline-block; }

a:hover {
  color: #72a2e0; }

.oval {
  background-color: #2b75d7;
  border-radius: 50%;
  margin: 0 auto;
  position: relative; }

.title {
  animation: slam 0.5s ease 1;
  font-family: "BadaBoom", sans-serif;
  text-align: center;
  transform: rotate(-5deg); }

.tagline {
  font-family: "MonoHand", sans-serif;
  margin-top: 1em;
  text-align: center;
  text-transform: uppercase; }

.arrow {
  align-self: center;
  border-left: 0.75em solid transparent;
  border-right: 0.75em solid transparent;
  display: block;
  height: 0;
  width: 0; }

.next {
  border-top: 0.75em solid #fff; }

.prev {
  border-bottom: 0.75em solid #fff; }

a.next:hover {
  border-top-color: #72a2e0; }

a.prev:hover {
  border-bottom-color: #72a2e0; }

.bounce-5s {
  animation: bounce 1.4s cubic-bezier(0.5, 0.05, 1, 0.5) 5s 3; }

@media only screen and (min-width: 1281px) {
  .oval {
    height: calc(18em * 1.05);
    width: calc(18em * 4); }

  .title {
    font-size: 18em;
    filter: drop-shadow(5px 5px 0 #000);
    text-shadow: 0px calc(3px * -1) 1px #000, 0px 3px 1px #000, 3px 0px 1px #000, calc(3px * -1) 0px 1px #000; }

  .tagline {
    font-size: 3em;
    letter-spacing: 8px; }

  article {
    padding: 32px 0 0;
    max-width: 960px;
    width: calc(100vw - 64px); }

  h1 {
    font-size: 5.5em;
    letter-spacing: 5px;
    margin-bottom: 0.25em; }

  h2 {
    font-size: 1.75em; }

  p {
    font-size: 1.25em; }

  section {
    columns: 2; } }
@media only screen and (max-width: 1280px) {
  .oval {
    height: calc(12em * 1.05);
    width: calc(12em * 4); }

  .title {
    font-size: 12em;
    filter: drop-shadow(3px 3px 0 #000);
    text-shadow: 0px calc(2px * -1) 1px #000, 0px 2px 1px #000, 2px 0px 1px #000, calc(2px * -1) 0px 1px #000; }

  .tagline {
    font-size: 2em;
    letter-spacing: 6px; }

  article {
    padding: 32px 0 0;
    max-width: 960px;
    width: calc(100vw - 64px); }

  h1 {
    font-size: 5.5em;
    letter-spacing: 3px;
    margin-bottom: 0.25em; }

  h2 {
    font-size: 1.75em; }

  p {
    font-size: 1.125em; }

  section {
    columns: 2; } }
@media only screen and (max-width: 1194px) {
  .oval {
    height: calc(12em * 1.05);
    width: calc(12em * 4); }

  .title {
    font-size: 12em;
    filter: drop-shadow(3px 3px 0 #000);
    text-shadow: 0px calc(2px * -1) 1px #000, 0px 2px 1px #000, 2px 0px 1px #000, calc(2px * -1) 0px 1px #000; }

  .tagline {
    font-size: 2em;
    letter-spacing: 6px; }

  article {
    padding: 32px 0 0;
    max-width: calc(width-default - 64px);
    width: calc(100vw - 64px); }

  h1 {
    font-size: 5.5em;
    letter-spacing: 3px;
    margin-bottom: 0.25em; }

  h2 {
    font-size: 1.75em; }

  p {
    font-size: 1em; }

  section {
    columns: 2; } }
@media only screen and (max-width: 1024px) {
  .oval {
    height: calc(12em * 1.05);
    width: calc(12em * 4); }

  .title {
    font-size: 12em;
    filter: drop-shadow(3px 3px 0 #000);
    text-shadow: 0px calc(2px * -1) 1px #000, 0px 2px 1px #000, 2px 0px 1px #000, calc(2px * -1) 0px 1px #000; }

  .tagline {
    font-size: 2em;
    letter-spacing: 6px; }

  article {
    padding: 32px 0 0;
    max-width: calc(width-default - 64px);
    width: calc(100vw - 64px); }

  h1 {
    font-size: 5.5em;
    letter-spacing: 3px;
    margin-bottom: 0.25em; }

  h2 {
    font-size: 1.75em; }

  p {
    font-size: 1em; }

  section {
    columns: 2; } }
@media only screen and (max-width: 896px) {
  .oval {
    height: calc(8em * 1.05);
    width: calc(8em * 4); }

  .title {
    font-size: 8em;
    filter: drop-shadow(3px 3px 0 #000);
    text-shadow: 0px calc(1px * -1) 1px #000, 0px 1px 1px #000, 1px 0px 1px #000, calc(1px * -1) 0px 1px #000; }

  .tagline {
    font-size: 1.5em;
    letter-spacing: 4px; }

  article {
    padding: 32px 0 0;
    max-width: calc(width-default - 64px);
    width: calc(100vw - 64px); }

  h1 {
    font-size: 4.5em;
    letter-spacing: 3px;
    margin-bottom: 0.25em; }

  h2 {
    font-size: 1.5em; }

  p {
    font-size: 1em; }

  section {
    columns: 2; } }
@media only screen and (max-width: 667px) {
  .oval {
    height: calc(5em * 1.05);
    width: calc(5em * 4); }

  .title {
    font-size: 5em;
    filter: drop-shadow(2px 2px 0 #000);
    text-shadow: 0px calc(1px * -1) 1px #000, 0px 1px 1px #000, 1px 0px 1px #000, calc(1px * -1) 0px 1px #000; }

  .tagline {
    font-size: 1em;
    letter-spacing: 2px; }

  article {
    padding: 32px 0 0;
    max-width: calc(width-default - 64px);
    width: calc(100vw - 64px); }

  h1 {
    font-size: 3em;
    letter-spacing: 2px;
    margin-bottom: 0.25em; }

  h2 {
    font-size: 1.25em; }

  p {
    font-size: 1em; }

  section {
    columns: 1; } }
@media only screen and (max-width: 320px) {
  .oval {
    height: calc(4em * 1.05);
    width: calc(4em * 4); }

  .title {
    font-size: 4em;
    filter: drop-shadow(2px 2px 0 #000);
    text-shadow: 0px calc(1px * -1) 1px #000, 0px 1px 1px #000, 1px 0px 1px #000, calc(1px * -1) 0px 1px #000; }

  .tagline {
    font-size: 1em;
    letter-spacing: 2px; }

  article {
    padding: 32px 0 0;
    max-width: calc(width-default - 64px);
    width: calc(100vw - 64px); }

  h1 {
    font-size: 2.5em;
    letter-spacing: 2px;
    margin-bottom: 0.25em; }

  h2 {
    font-size: 1.25em; }

  p {
    font-size: 1em; }

  section {
    columns: 1; } }
@media only screen and (max-width: 667px) and (orientation: landscape) {
  scroll-page:first-child .next {
    margin-bottom: 2em; } }
@media only screen and (max-width: 667px) and (orientation: portrait) {
  scroll-page:first-child .next {
    margin-bottom: 4em; } }
@media only screen and (max-width: 1024px) and (orientation: landscape) {
  scroll-page:first-child .next {
    margin-bottom: 4em; } }
@media only screen and (max-width: 1024px) and (orientation: portrait) {
  .next, .prev {
    margin-bottom: 4em; } }
@media only screen and (max-width: 1194px) and (orientation: landscape) {
  .next, .prev {
    margin-bottom: 4em; } }
@media only screen and (max-width: 1194px) and (orientation: portrait) {
  .next, .prev {
    margin-bottom: 4em; } }

/*# sourceMappingURL=firsttry.css.map */
