---
layout: default
title: First Try!
---
<scroll-container>
  <scroll-page id="home">
    <div class="oval">
      <div class="title">{{ site.name }}</div>
      <div class="tagline">{{ site.tagline }}</div>
    </div>
    <a class="arrow down bounce-5s" href="#{{ site.posts.first.slug }}"></a>
  </scroll-page>

  {% for post in site.posts %}
    <scroll-page id="{{ post.slug }}">
      <article>
        <a href="{{ post.url }}">
          <h1>{{ post.title }}</h1>
        </a>
        <h2>{{ post.subtitle }}</h2>
        <section>
          {{ post.content }}
        </section>
      </article>
      {% if post.slug == site.posts.last.slug %}
        <a class="arrow up" href="#home"></a>
      {% else %}
        <a class="arrow down" href="#{{ post.previous.slug }}"></a>
      {% endif %}
    </scroll-page>
  {% endfor %}
  <scroll-page id="about">
    <div class="content">
      <header>
        <h1>Our Heroes!</h1>
      </header>
      <section class="bios">
        {% assign i = 0 %}
        {% for hero in site.data.heroes %}
          {% assign mod = i | modulo: 2 %}
          {% assign bubble = site.data.bubbles[mod].name %}
          <div class="bio">
            <h1>{{ hero.first_name }}!</h1>
            <h2>The {{ hero.title }}.</h2>
            <img src="images/{{ hero.slug }}.jpg" width="200" height="200" alt="{{ hero.first_name }} {{ hero.last_name }}">
            <div class="bubble {{ bubble }}">{{ hero.quote }}</div>
          </div>
          {% assign i = i | plus: 1 %}
        {% endfor %}
      </section>
    </div>
    <a href="/"><img src="/images/bang.png" width="48" height="48" alt="First Try! Software"></a>
  </scroll-page>
</scroll-container>

