---
layout: default
title: First Try!
---
<scroll-container>
  <scroll-page id="home">
    <div class="oval">
      <div class="title">{{ site.name }}</div>
      <div class="tagline">{{ site.tagline }}</div>
    </div>
    <a class="arrow down bounce-5s" href="#{{ site.posts.first.slug }}"></a>
  </scroll-page>

  {% for post in site.posts %}
    <scroll-page id="{{ post.slug }}">
      <article>
        <h1>{{ post.title }}</h1>
        <h2>{{ post.subtitle }}</h2>
        <section>
          {{ post.content }}
        </section>
      </article>
      {% if post.slug == site.posts.last.slug %}
        <a class="arrow up" href="#home"></a>
      {% else %}
        <a class="arrow down" href="#{{ post.previous.slug }}"></a>
      {% endif %}
    </scroll-page>
  {% endfor %}

  <scroll-page id="about">
    <header>
      <h1>Our Heroes!</h1>
    </header>
    <section class="bios">
      <div class="bio">
        <h1>Alan!</h1>
        <h2>The Jedi Master.</h2>
        <img src="images/alan.jpg" width="200" height="200" alt="Alan Ridlehoover">
        <div class="bubble bubble-down">
          I only work in black.<br>And, sometimes,<br>very very dark gray.
        </div>
      </div>
      <div class="bio">
        <h1>Fito!</h1>
        <h2>The prodigy.</h2>
        <img src="images/fito.jpg" width="200" height="200" alt="Fito von Zastrow">
        <div class="bubble bubble-middle">
          I think I got it.<br>But, just in case, tell<br>me the whole thing again.<br>I wasn't listening.
        </div>
      </div>
      <div class="bio">
        <h1>Jill!</h1>
        <h2>The authority.</h2>
        <img src="images/jill.jpg" width="200" height="200" alt="Jill Ridlehoover">
        <div class="bubble bubble-up">
          The only thing anyone<br>needs to be special is to<br>believe that you can be. I know<br>that sounds like a
          cat poster,<br>but it's true.
        </div>
      </div>
    </section>
  </scroll-page>

</scroll-container>
