#about {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    header {
      background-color: $background-color-header;
      border-radius: 50%;
      margin: $padding auto;

      h1 {
        margin: 0 auto;
        text-align: center;
      }
    }
  }

  .copyright {
    color: $color-blue-light;
    font-family: "MonoHand", sans-serif;
    font-size: 12px;
    padding-top: $padding;
    text-align: center;
    text-transform: uppercase;
  }

  a {
    margin: 0 auto;
  }

  .bios {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: $page-padding;
  }

  .bio {
    display: flex;
    flex-direction: column;
    font-size: 1em;
    justify-content: end;
    margin: 0 2em 3em;
    position: relative;
    width: 13em;

    h1 {
      font-size: 3em;
      letter-spacing: 2px;
    }

    h2 {
      font-size: 1.25em;
    }

    img {
      border: 3px solid $color-primary;
      border-radius: 3px;
      margin: 0.5em 0;

      &:hover {
        animation: swell 0.5s ease 1;
      }

      &:hover + .bubble {
        display: flex;
      }
    }

    ul {
      margin: 0 0 0 1em;
      padding: 0;
      position: absolute;
      top: 33em;

      h3 {
        font-family: "MonoHand", sans-serif;
        margin: 0.5em 0 0 -1em;
        text-transform: uppercase;
      }
    }
  }

  .bubble {
    background-color: $color-primary;
    border-radius: 50%;
    color: $background-color-secondary;
    display: none;
    flex-direction: column;
    font-family: "MonoHand", sans-serif;
    font-size: 1em;
    height: 9em;
    justify-content: center;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    top: -2.5em;
    width: 17em;
    z-index: 1;

    @include drop-shadow(5px, 0, $color-drop-shadow);

    &:hover {
      display: flex;
    }
  }

  .bubble-down {
    margin-top: 18.75em;
    left: -6.5em;
    position: absolute;
    transform: rotate(15deg);
  }

  .bubble-up {
    margin-top: 18.75em;
    left: 2.5em;
    transform: rotate(-15deg);
  }

  .bubble-middle {
    margin-top: 18.75em;
    left: -2em;
  }

  .bubble-down:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-right: 10px solid $color-primary;
    border-left  : 10px solid transparent;
    border-bottom: 10px solid $color-primary;
    border-top: 10px solid transparent;
    right: 7em;
    top: -1em;
  }

  .bubble-up:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid $color-primary;
    border-right: 10px solid transparent;
    border-bottom: 10px solid $color-primary;
    border-top: 10px solid transparent;
    left: 7em;
    top: -1em;
  }

  .bubble-middle:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 20px solid $color-primary;
    border-top: 20px solid transparent;
    left: 7.5em;
    top: -2em;
  }
}
