@keyframes bounce {
  0% {
    transform: translateY(0px);
  }

  75% {
    transform: translateY(-20px);
  }

  80% {
    transform: translateY(0px);
  }

  85% {
    transform: translateY(-9px);
  }

  90% {
    transform: translateY(0px);
  }

  95% {
    transform: translateY(-3px);
  }

  100% {
    transform: translateY(0px);
  }
}

@keyframes slam {
  0% {
    transform: scale(1) rotate(-5deg);
  }

  60% {
    transform: scale(4) rotate(-5deg);
  }

  80% {
    transform: scale(0.6) rotate(-5deg);
  }

  100% {
    transform: scale(1) rotate(-5deg);
  }
}

@keyframes swell {
  0% {
    transform: scale(1);
  }

  60% {
    transform: scale(1.1);
  }

  80% {
    transform: scale(0.95);
  }

  100% {
    transform: scale(1);
  }
}
