scroll-page {
  border: $padding solid $background-color-primary;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: $min-height;
  padding: $padding;
}

scroll-page:nth-child(odd) {
  background-color: $background-color-primary;
  border-color: $background-color-primary;
}

scroll-page:nth-child(even) {
  background-color: $background-color-secondary;
  border-color: $background-color-secondary;
}

scroll-page:last-child {
  padding: calc(#{$padding} * 3) $page-padding $padding;
}

article {
  margin: 0 auto;
  max-width: $max-width-wide;
}

section {
  columns: $columns-wide;
  column-gap: calc(#{$padding} * 2);
  padding: $padding 0;
}

footer {
  background-color: $background-color-primary;
  border: $padding solid $background-color-primary;
  display: flex;
  justify-content: center;
}
