scroll-page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: calc(#{$min-height-default} - #{$padding-twice} - #{$padding-twice});
  padding: $padding-default;
}

scroll-page:nth-child(odd) {
  background-color: $background-color-primary;
  border: $padding-half solid $background-color-primary;
  border-bottom: none;
}

scroll-page:nth-child(even) {
  background-color: $background-color-secondary;
  border: $padding-half solid $background-color-secondary;
  border-bottom: none;
}

scroll-page:first-child {
  min-height: calc(#{$min-height-default} - calc(#{$padding-default} * 4));
  border-bottom: none;
}

scroll-page:last-child {
  padding-bottom: calc(#{$padding-default} * 2.5)
}

article {
  margin: 0 auto;
  max-width: $max-width-default;
  width: calc(#{$width-default} - calc(#{$padding-default} * 3));
}

section {
  columns: $columns-default;
  column-gap: $padding-default;
  padding: $padding-half 0;
}

footer {
  background-color: $color-primary;
  border: $padding-half solid $color-primary;
  bottom: 0px;
  display: flex;
  font-size: 0.75em;
  position: fixed;
  text-align: center;
  width: calc(100vw - #{$padding-default});
  z-index: 100;

  a {
    color: $background-color-primary;
    font-family: "MonoHand", sans-serif;
    font-size: 1em;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
  }

  ul {
    list-style: none;
    margin: 0 auto;
    padding: 0;

    li {
      display: inline-block;
      margin: 0 $padding-half;
    }
  }
}

h1 {
  filter: drop-shadow(2px 2px 0 $color-drop-shadow);
  font-family: "BadaBoom", sans-serif;
  margin-bottom: 0.25em;
  padding-left: 5px;
  transform: rotate(-2.5deg);
}

h2 {
  color: $color-secondary;
  font-family: "MonoHand", sans-serif;
  text-transform: uppercase;
}

p {
  margin-bottom: 1em;
}

a {
  color: $color-primary;
  display: inline-block;
}

a:hover {
  color: $color-secondary;
}
