$color-white: #fff;
$color-blue-dark: #0F559F;
$color-blue-medium: #2b75d7;
$color-blue-light: #72a2e0;
$color-black: #000;
$color-gray: #353D41;

$background-color-primary: $color-blue-dark;
$background-color-secondary: $color-gray;
$background-color-header: $color-blue-medium;

$color-primary: $color-white;
$color-secondary: $color-blue-light;
$color-drop-shadow: $color-black;

$margin: 16px;
$padding: 16px;
$margin-home-header: 15vh;

$page-margin: $margin;
$page-margins: $page-margin * 2;
$page-padding: $padding * 2;
$page-paddings: $page-padding * 2;

$columns-wide: 2;
$columns-narrow: 1;
$column-padding: $page-padding;

$min-height: calc(100vh - #{$page-margins} - #{$page-paddings});

$max-width-wide: 960px;
$max-width-narrow: calc(100vw - #{$page-margins} - #{$page-paddings});

$bang-height: 48px;