* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  background-color: #353D41;
  color: white;
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
  font-size: 16px;
}

scroll-container {
  scroll-behavior: smooth;
}

scroll-page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: calc(100vh - 2em);
  padding: 0 2em 2em;
}

scroll-page:first-child {
  min-height: calc(100vh - 20vh - 2em);
  padding: 20vh 2em 2em;
}

scroll-page:nth-child(odd) {
  background-color: #0F559F;
}

scroll-page:nth-child(even) {
  background-color: #353D41;
}

header {
  background-color: #2b75d7;
  border-radius: 50%;
  height: 12.25em;
  margin: 0 auto;
  position: relative;
  width: 48em;
}

.title {
  animation: slam 0.5s ease 1;
  color: white;
  filter: drop-shadow(3px 3px 0 black);
  font-family: "BadaBoom", sans-serif;
  font-size: 12em;
  text-align: center;
  text-shadow: 0px -1px 1px #000, 0px 1px 1px #000, 1px 0px 1px #000, -1px 0px 1px #000;
  transform: rotate(-5deg);
}

.tagline {
  font-family: "MonoHand", sans-serif;
  font-size: 2em;
  letter-spacing: 10px;
  margin-top: 1em;
  text-align: center;
  text-transform: uppercase;
}

article {
  margin: 0 auto;
  max-width: 960px;
  padding: 4em 2em 0;
  width: 100vh - 6em;
}

section {
  columns: 2;
  column-gap: 2em;
  padding: 1em 0;
}

.next {
  align-self: center;
  border-left: 0.75em solid transparent;
  border-right: 0.75em solid transparent;
  border-top: 0.75em solid white;
  display: block;
  height: 0;
  width: 0;
}

.prev {
  align-self: center;
  border-left: 0.75em solid transparent;
  border-right: 0.75em solid transparent;
  border-bottom: 0.75em solid white;
  display: block;
  height: 0;
  width: 0;
}

h1 {
  filter: drop-shadow(2px 2px 0 black);
  font-family: "BadaBoom", sans-serif;
  font-size: 4.5em;
  letter-spacing: 4px;
  margin-bottom: 0.25em;
  transform: rotate(-2.5deg);
}

h2 {
  color: #72a2e0;
  font-family: "MonoHand", sans-serif;
  font-size: 1.5em;
  text-transform: uppercase;
}

p {
  font-size: 1.05em;
  margin-bottom: 1em;
}

a {
  color: white;
  display: inline-block;
}

a:hover {
  color: #72a2e0;
}

a.next:hover {
  border-top-color: #72a2e0;
}

a.prev:hover {
  border-bottom-color: #72a2e0;
}

.bounce-5s {
  animation: bounce 1.4s cubic-bezier(.5, 0.05, 1, .5) 5s 3;
}
