@media all and (max-width: 1024px) {
  header {
    height: 12.25em;
    width: 48em;
  }

  .title {
    filter: drop-shadow(3px 3px 0 black);
    font-size: 12em;
    text-shadow: 0px -1px 1px #000, 0px 1px 1px #000, 1px 0px 1px #000, -1px 0px 1px #000;
  }

  .tagline {
    font-size: 2em;
    letter-spacing: 10px;
  }
}

@media all and (max-width: 1440px) and (min-width: 1025px) {
  header {
    height: 15.5em;
    width: 64em;
  }

  .title {
    filter: drop-shadow(5px 5px 0 black);
    font-size: 15em;
    text-shadow: 0px -2px 1px #000, 0px 2px 1px #000, 2px 0px 1px #000, -2px 0px 1px #000;
  }

  .tagline {
    font-size: 2em;
    letter-spacing: 13px;
  }
}

@media all and (min-width: 1681px) {
  header {
    height: 23.5em;
    width: 86em;
  }

  .title {
    filter: drop-shadow(7px 7px 0 black);
    font-size: 22em;
    text-shadow: 0px -2px 1px #000, 0px 2px 1px #000, 2px 0px 1px #000, -2px 0px 1px #000;
  }

  .tagline {
    font-size: 3em;
    letter-spacing: 16px;
  }
}
