/* iPhone 6, 7, 8 */
@media only screen and (min-device-width : 375px) and (max-device-width : 667px) {
  header {
    height: 5.25em;
    width: 20em;
  }
  .title {
    filter: drop-shadow(2px 2px 0 black);
    font-size: 5em;
  }
  .tagline {
    font-size: 1.125em;
    letter-spacing: 2px;
  }
  article {
    padding: 4em 0.25em 0;
    width: 100vw - 0.5em;
  }
  h1 {
    font-size: 3em;
  }
  section {
    columns: 1;
  }
  p {
    font-size: 1.25em;
  }
}
@media only screen and (min-device-width : 375px) and (max-device-width : 667px) and (orientation: landscape) {
  scroll-page:first-child .next {
    margin-bottom: 4em;
  }
}
@media only screen and (min-device-width : 375px) and (max-device-width : 667px) and (orientation: portrait) {
  scroll-page:first-child .next {
    margin-bottom: 6em;
  }
}

/* iPad */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
  header {
    height: 10.25em;
    width: 40em;
  }
  .title {
    filter: drop-shadow(2px 2px 0 black);
    font-size: 10em;
  }
  .tagline {
    font-size: 1.125em;
    letter-spacing: 2px;
  }
  article {
    padding: 4em 0.25em 0;
    width: calc(100vw - 4em);
  }
  h1 {
    font-size: 3em;
  }
  section {
    columns: 1;
  }
  p {
    font-size: 1.125em;
  }
  .next {
    margin-bottom: 4em;
  }
  .prev {
    margin-bottom: 4em;
  }
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation: landscape) {
  section {
    columns: 2;
  }
}

@media all and (max-width: 1440px) and (min-width: 1025px) {
  header {
    height: 15.5em;
    width: 64em;
  }

  .title {
    filter: drop-shadow(5px 5px 0 black);
    font-size: 15em;
    text-shadow: 0px -2px 1px #000, 0px 2px 1px #000, 2px 0px 1px #000, -2px 0px 1px #000;
  }

  .tagline {
    font-size: 2em;
    letter-spacing: 13px;
  }
  p {
    font-size: 1.25em;
  }
}

@media all and (min-width: 1441px) and (max-width: 1919px) {
  header {
    height: 23.5em;
    width: 86em;
  }
  .title {
    filter: drop-shadow(7px 7px 0 black);
    font-size: 22em;
    text-shadow: 0px -2px 1px #000, 0px 2px 1px #000, 2px 0px 1px #000, -2px 0px 1px #000;
  }
  .tagline {
    font-size: 3em;
    letter-spacing: 16px;
  }
  h1 {
    font-size: 5em;
  }
  h2 {
    font-size: 2em;
  }
  p {
    font-size: 1.25em;
  }
}

@media all and (min-width: 1920px) {
  header {
    height: 23.5em;
    width: 86em;
  }
  .title {
    filter: drop-shadow(7px 7px 0 black);
    font-size: 22em;
    text-shadow: 0px -2px 1px #000, 0px 2px 1px #000, 2px 0px 1px #000, -2px 0px 1px #000;
  }
  .tagline {
    font-size: 3em;
    letter-spacing: 16px;
  }
  h1 {
    font-size: 5em;
  }
  h2 {
    font-size: 2em;
  }
  p {
    font-size: 1.375em;
  }
}
@media all and (min-width: 2560px) {
  p {
    font-size: 1.5em;
  }
}
